<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main.html">
<div layout:fragment="site_content">
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #15890e;color: white"><a
                        th:text="#{label.categories}"></a>
                <li class="list-group-item"><a th:text="#{menu.allItems}" th:href="@{'/allItems'}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:href="@{'/searchItemsByCategory/Electronic'}" th:text="#{menu.electronics}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:text="#{menu.phones}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                        <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:href="@{'/searchItemsByCategory/Laptop'}" th:text="#{menu.laptops}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-laptop" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z"/>
                        <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:href="@{'/searchItemsByCategory/Smartwatches'}" th:text="#{menu.watches}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-smartwatch" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 5h.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H14V5z"/>
                        <path fill-rule="evenodd"
                              d="M8.5 4.5A.5.5 0 0 1 9 5v3.5a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h2V5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd"
                              d="M4.5 2h7A2.5 2.5 0 0 1 14 4.5v7a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 11.5v-7A2.5 2.5 0 0 1 4.5 2zm0 1A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7z"/>
                        <path d="M4 2.05v-.383C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v.383a2.512 2.512 0 0 0-.5-.05h-7c-.171 0-.338.017-.5.05zm0 11.9c.162.033.329.05.5.05h7c.171 0 .338-.017.5-.05v.383c0 .92-.746 1.667-1.667 1.667H5.667C4.747 16 4 15.254 4 14.333v-.383z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:href="@{'/searchItemsByCategory/TV'}" th:text="#{menu.television}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tv" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:text="#{menu.consoles}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-joystick" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.106 15.553L.553 12.276A1 1 0 0 1 0 11.382V9.471a1 1 0 0 1 .606-.89L6 6.269v1.088L1 9.5l5.658 2.83a3 3 0 0 0 2.684 0L15 9.5l-5-2.143V6.27l5.394 2.312a1 1 0 0 1 .606.89v1.911a1 1 0 0 1-.553.894l-6.553 3.277a2 2 0 0 1-1.788 0z"/>
                        <path fill-rule="evenodd" d="M7.5 9.5v-6h1v6h-1z"/>
                        <path d="M10 9.75c0 .414-.895.75-2 .75s-2-.336-2-.75S6.895 9 8 9s2 .336 2 .75zM10 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                    </svg>
                </li>
                <li class="list-group-item"><a th:text="#{menu.others}"></a>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-octagon" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </li>
            </ul>
            <br>
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #15890e;color: white"><a
                        th:text="#{label.brands}"></a>
                <li class="list-group-item"><a th:text="Apple"></a>
                <li class="list-group-item"><a th:text="Samsung"></a>
                <li class="list-group-item"><a th:text="LG"></a>
                <li class="list-group-item"><a th:text="BOSCH"></a>
                <li class="list-group-item"><a th:text="ZEPTER"></a>
                <li class="list-group-item"><a th:text="XIAOMI"></a>
                <li class="list-group-item"><a th:text="NOKIA"></a>
                <li class="list-group-item"><a th:text="#{menu.others}"></a>
            </ul>
            <br>
            <ul class="list-group">
                <li class="list-group-item" style="background-color: #15890e;color: white"><a
                        th:text="#{label.payments}"></a></li>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="https://www.apple.com/ru/apple-pay/images/overview/og_image.png?202010070423"
                                 class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="https://investim.guru/sites/default/files/styles/coverbig/public/images/cover/58-130.png?itok=3V69RsuB"
                                 class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="https://www.ferra.ru/thumb/500x0/filters:quality(75)/imgs/2018/11/26/17/2627023/03045533edd3fa827730d3483e5f960d97186f47.jpg"
                                 class="img-fluid">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="https://www.mastercard.kz/content/dam/mccom/global/logos/logo-mastercard-mobile.svg"
                                 class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="https://www.mastercard.kz/content/dam/mccom/global/logos/logo-mastercard-mobile.svg"
                                 class="img-fluid">
                        </div>
                        <div class="col">
                            <img src="https://www.mastercard.kz/content/dam/mccom/global/logos/logo-mastercard-mobile.svg"
                                 class="img-fluid">
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="col-6">
            <h1 class="text-center">Welcome <span th:text="${currentUser.full_name}"></span></h1>
            <form method="POST" th:action="@{'/updateUserFullName'}" id="edit_form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="hidden" name="id" th:value="${currentUser.getId()}">
                    <input type="email" readonly class="form-control" id="email" name="email"
                           placeholder="Name..." th:value="${currentUser.getEmail()}">
                </div>
                <div class="form-group">
                    <label for="full_name">Full name:</label>
                    <input type="text" class="form-control" id="full_name"
                           name="full_name" placeholder="Price..." th:value="${currentUser.getFull_name()}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" style="float: right">Update Full Name</button>
                </div>
            </form>
            <br>
            <br>
            <form method="POST" th:action="@{'/updateUserPassword'}" id="edit_form2">
                <div class="form-group">
                    <input type="hidden" name="id" th:value="${currentUser.getId()}">
                    <label for="old_password">Old Password:</label>
                    <input type="password" class="form-control" id="old_password" name="old_password"
                           placeholder="Old Password...">
                </div>
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" class="form-control" id="new_password" name="new_password"
                           placeholder="New Password...">
                </div>
                <div class="form-group">
                    <label for="new_repassword">Retype New Password:</label>
                    <input type="password" class="form-control" id="new_repassword" name="new_repassword"
                           placeholder="Retype New Password...">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" style="float: right">Update Password</button>
                </div>
                <p style="color: red" th:if="${error!=null && !(error.equals('noerr'))}" th:text="${error}"></p>
            </form>
        </div>
    </div>
</div>

</html>